.main_container {
    display: flex;
    width: 500px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.left_side {
    width: 80%;
    background: #000;
    color: white;
    height: 300px;
}

#empty_row {
    height: 50px;
    display: flex;
    background: rgb(224, 221, 221);
    align-items: center;
    border: 1px solid black;
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
}

.row .inp_num {
    text-align: center;
    display: inline-block;
    width: 33%;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;
}

.right_side {
    display: flex;
    flex-direction: column;
    background-color: gray;
    width: 20%;
}

.right_side .action_type {
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;
}